<div class="border border-3 m-2 text-center">
    <div class="row">
        <div class="col">@Piece.Name</div>
        <div class="col-auto fs-6">@Piece.Health.ToString("n0")</div>
    </div>
    <div class="fs-1">@Piece.Icon</div>
</div>