@page "/"
@using logic

<PageTitle>Interface Demo</PageTitle>

<Board Pieces=@pieces/>
<Button @onclick="movePiece">Move Piece</Button>

@code 
{
    IList<IGamePiece> pieces;

    protected override void OnInitialized()
    {
        pieces = new[]
        {
            new Player("Player1", "😐", 50, new Location(0,0)),
            new Player("Player2", "😐", 50, new Location(1,1)),
            new Player("Player3", "😐", 50, new Location(2,2)),
            new Player("Player4", "😐", 50, new Location(4,0)),
            new Player("Player5", "😐", 50, new Location(2,4)),
        };
    }

    private void movePiece()
    {
        var oldLocation = pieces[0].Location;
        pieces[0].Location = oldLocation with {Row = oldLocation.Row+1};
        StateHasChanged();
    }
}